<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sosmed</title>
</head>
<body>
    <a href="/logout">Logout</a>
    <a href="/profile">Profile</a>
    <a href="/explore">Sosmed</a>
    <form action="/explore/search" method="get">
        <input type="text" name="search" placeholder="Search Tag...">
        <button type="submit">Search</button>
    </form>
